# ===== 你的实验输出目录 =====
Modeling/VIL-100/ILD_coeff/out_sppool_1_squriouloss_3/
Modeling/VIL-100/ILD_seg/out_sppool_1/
Modeling/VIL-100/PLD/out_sppool_1_squriouloss_3/

# ===== Python =====
__pycache__/
*.py[codz]
*$py.class
*.so

# ===== Packaging =====
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ===== Virtual Environments =====
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ===== Logs =====
*.log

# ===== Jupyter =====
.ipynb_checkpoints

# ===== Test / Coverage =====
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# ===== IDE =====
.vscode/
.idea/

# ===== Model Files (强烈建议) =====
*.pth
*.pt
*.ckpt

# ===== Common DL output =====
logs/
runs/
output/

# ===== Marimo =====
__marimo__/